@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card" style=" margin-top: 20px">
<div class="card-header">
<h1>Rolling two Dice</h1>
  @*<img src ="~/images/@Model.Image" class="card-img-top img-fluid img-thumbnail rounded mx-auto d-block"/> *@ 
</div>
 <div class="card-body">
<form method="post" >  
        <div class="form-group">  
           <div class="row">  
     @if (Model.Dice.Count > 0)
     {
         //https://getbootstrap.com/docs/5.0/components/list-group/
               <ul class="list-group list-group-horizontal">
                   @foreach (var item in Model.Dice)
                   {
                       <li class="list-group-item">@item</li>
                      }
               </ul>

     }


        </div>  
                 
        <div class="row">  
            <input type="submit" value="Submit" asp-action="Index" />  
        </div>  
    </div>  
</form>   
</div>
<div class="card-footer">
<div class="row">  
            <label asp-for="Dice" >How many rolls = @Model.Dice.Count</label>  
       
                 </div> 
</div>
</div>
